{% extends "base.html" %}
{% from "macros_form_header.html" import date_box, text_box, select_box, currency_box_2 %}

{% block title %}Lithography Receipt{% endblock %}

{% block styles %}
<style>
    .table th, .table td, .table input, .table select {
        font-size: .85em; 
    }

    /* Add your style adjustments here */
    .table th, .table td {
        white-space: nowrap; /* Prevent line breaks in table cells */
    }

    th:nth-child(1),
    td:nth-child(1) {
        width: 10%; /* Quantity */
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 10%; /* Measure */
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 25%; /* Description */
    }

    th:nth-child(4),
    td:nth-child(4) {
        width: 10%; /* Date Needed */
    }

    th:nth-child(5),
    td:nth-child(5) {
        width: 20%; /* Side Note */
    }


    input[type=number] {
        text-align: right; 
    }

/* Hide the spinner controls */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

</style>
{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
        {% if form.submitted or form.cancelled %}
        <h1 class="mb-4"><span style="color:red;">Locked</span> Lithography Receipt</h1>
        {% else %}   
        <h1 class="mb-4">Lithography Receipt</h1>
        {% endif %}
        <form action="{{ url_for('lithography_receipt.edit', record_id=form.id) }}" method="post">
            <input type="number" name="lithography_receipt_id" value="{{ form.id }}" hidden>
    {% else %}
        <h1 class="mb-4">New Lithography Receipt</h1>
        <form action="{{ url_for('lithography_receipt.add') }}" method="post">
    {% endif %}
    <hr>
    <div class="row mb-2">
        <div class="col-6">
            {% if form.errors.get('entry') %}
            <p class="text-danger">{{ form.errors.get('entry') }}</p>
            {% endif %}    
            {% if form.cancelled %}
            <h1 style="color:red;">CANCELLED</h1>
            {% endif %}    
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    {% if not form.submitted  %}
                        {% if not form.cancelled %}
                    <input type="submit" value="Save Draft" name="cmd_button" class="btn btn-success form-control">
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-4">
                    {% if form.id %}
                        {% if form.submitted or form.cancelled %}
                    
                        {% else %}
                        <a href="{{ url_for('lithography_receipt.add') }}" 
                        class="btn btn-success form-control">Add New Receipt</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-4">
                    {% if not form.submitted %}
                        {% if current_user.admin %}
                        <input type="submit" value="Approve" name="cmd_button" 
                        class="btn btn-primary form-control" 
                        onclick="return confirmMessage('Type YES to lock this record.');">
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <hr>
    
    <div class="row mb-2">
        {{ date_box(form, "Date", "record_date", form.record_date, autofocus=True) }}
        {{ text_box(form, "Receipt No.", "lithography_receipt_number", form.lithography_receipt_number, autofocus=False) }}
    </div>

    <div class="row mb-2">
        {{ select_box(form, "Description", "lithography_id", form.lithography_id, lithography_dropdown, autofocus=False) }}
        {{ text_box(form, "Lithography Invoice", "invoice_number", form.invoice_number, autofocus=False) }}
    </div>

        <div class="row mb-2">
            {{ text_box(form, "Sheets Received", "sheet_received", form.sheet_received, autofocus=False) }}
            {{ text_box(form, "Outs", "outs", form.outs, autofocus=False) }}
        </div>
        <div class="row mb-2">
            {{ currency_box_2(form, "Net Amount", "net_amount", form.net_amount, autofocus=False) }}
            {{ currency_box_2(form, "additional_charge", "additional_charge", form.additional_charge, autofocus=False) }}
        </div>

    <div class="row mb-2">
        {{ text_box(form, "Notes", "notes", form.notes, autofocus=False) }}
    </div>

</form>

    <script>
        // Get the input element
        var inputElement = document.getElementByClassName('currency');

        // When the input loses focus
        inputElement.addEventListener('blur', function(event) {
            var value = parseFloat(event.target.value.replace(/,/g, '')); // Remove commas, if any
            value = value.replace(/ /g, ''); // Remove spaces, if any
            event.target.value = value.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2});
        });

        // When the input gains focus
        inputElement.addEventListener('focus', function(event) {
            var value = parseFloat(event.target.value.replace(/,/g, '')); // Remove commas, if any
            event.target.value = value.toFixed(2);
        });

    </script>

</div>
{% endblock %}
