{% extends "base.html" %}

{% block title %}Lithography Receipt{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-danger">Lithography Receipt</h1>
    <a href="{{ url_for('lithography_receipt.add') }}" class="btn btn-success mb-3">Add Lithography Receipt</a>

    <form method="post" action="{{ url_for('lithography_receipt.home') }}" class="mb-3">
        <div class="form row">
            <div class="col-md-4">
                <label for="date_from">Date From:</label>
                <input type="date" class="form-control" id="date_from" name="date_from" value="{{ date_from }}">
            </div>
            <div class="col-md-4">
                <label for="date_to">Date To:</label>
                <input type="date" class="form-control" id="date_to" name="date_to" value="{{ date_to }}">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary mt-4">Apply Filter</button>
            </div>
        </div>
    </form>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" style="font-size: 0.75em;">
                    <thead class="thead-light">
                        <tr>
                            <th>Date</th>
                            <th>Receipt No.</th>
                            <th>Lithography Invoice</th>
                            <th>Description</th>
                            <th>Sheets Received</th>
                            <th>Outs</th>
                            <th>Net Amount</th>
                            <th>Additional Charge</th>
                            <th>Total Amount</th>
                            <th>Notes</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lithography_receipt in lithography_receipts %}
                        <tr>
                            <td>{{ lithography_receipt.formatted_record_date }}</td>
                            <td>{{ lithography_receipt.lithography_receipt_number }}</td>
                            <td>{{ lithography_receipt.invoice_number }}</td>
                            <td>{{ lithography_receipt.lithography.lithography_name }}</td>
                            <td>{{ lithography_receipt.sheet_received }}</td>
                            <td>{{ lithography_receipt.outs }}</td>
                            <td>{{ lithography_receipt.net_amount }}</td>
                            <td>{{ lithography_receipt.additional_charge }}</td>
                            <td>{{ lithography_receipt.net_amount + lithography_receipt.additional_charge }}</td>
                            <td>{{ lithography_receipt.notes }}</td>
                            <td>
                                {% if lithography_receipt.cancelled %}
                                <p style="color: red;">Cancelled {{ lithography_receipt.formatted_cancelled }}</p>
                                {% endif %}
                                {% if lithography_receipt.submitted %}
                                <p>For Payment {{ lithography_receipt.formatted_submitted }}</p>
                                {% endif %}
                                {% if not (lithography_receipt.submitted or lithography_receipt.cancelled) %}
                                <p style="color: green;">DRAFT</p>
                                {% endif %}    
                            </td>
                            <td>
                                {% if lithography_receipt.submitted or lithography_receipt.cancelled %}
                                    <a href="{{ url_for('lithography_receipt.view', record_id=lithography_receipt.id) }}"
                                    class="btn btn-warning btn-sm">View</a>
                                    {% if current_user.admin %}
                                    <a href="{{ url_for('lithography_receipt.unlock', record_id=lithography_receipt.id) }}"
                                    class="btn btn-danger btn-sm"
                                    onclick="return confirmMessage('Type YES to unlock this record.')">Unlock</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ url_for('lithography_receipt.edit', record_id=lithography_receipt.id) }}"
                                    class="btn btn-warning btn-sm">Edit</a>
                                    <a href="{{ url_for('lithography_receipt.delete', record_id=lithography_receipt.id) }}"
                                    class="btn btn-danger btn-sm"
                                    onclick="return confirmMessage('Type YES to Delete this record.')">Delete</a>     
                                {% endif %}
                        </td>
                        </tr>
                        {% endfor %}
                        {% if lithography_receipts|length == 0 %}
                        <tr>
                            <td colspan="12" class="text-center">No records found.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}