{% if ("Lithography" in current_user.user_roles) or ("Lithography Receipt" in current_user.user_roles) %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Lithography
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% if "Lithography" in current_user.user_roles %}    
      <li><a class="dropdown-item" href="{{ url_for('lithography.home') }}">Printed Sheet List</a></li>
      <li><hr class="dropdown-divider"></li>
      {% endif %}
      {% if "Lithography Receipt" in current_user.user_roles %}    
      <li><a class="dropdown-item" href="{{ url_for('lithography_receipt.home') }}">Lithography Receipt</a></li>
      {% endif %}
    </ul>
  </li>
{% endif %}