{% extends "base.html" %}
{% from "macros_button.html" import edit_button, delete_button, approve_button, unlock_button, activate_button, deactivate_button %}

{% block title %}Lithography{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Lithography</h1>
    <a href="{{ url_for('lithography.add') }}" class="btn btn-success mb-3">Add Lithography</a>


    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                        <tr>
                            <td>{{ row.lithography_name }}</td>
                            <td>
                                {% if not row.approved %}
                                {{ edit_button(url_for('lithography.edit', record_id=row.id)) }}
                                {{ delete_button(url_for('lithography.delete', record_id=row.id)) }}
                                    {% if current_user.admin %}
                                {{ approve_button(url_for('lithography.approve', record_id=row.id)) }}
                                    {% endif %}
                                {% else %}
                                <span>Locked by admin.</span>
                                    {% if current_user.admin %}
                                {{ unlock_button(url_for('lithography.unlock', record_id=row.id)) }}
                                        {% if row.active %}
                                {{ activate_button(url_for('lithography.deactivate', record_id=row.id)) }}
                                        {% else %}
                                {{ deactivate_button(url_for('lithography.activate', record_id=row.id)) }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="2">No record found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}