            <!-- Purchases Order Menu -->
            {% if ("Purchase Order" in current_user.user_roles) 
            or ("Purchase Order" in current_user.user_roles) 
            %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Purchase Order
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if "Purchase Order" in current_user.user_roles %}    
                <li><a class="dropdown-item" href="{{ url_for('purchase_order.add') }}">Create Purchase Order</a></li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                {% if "Purchase Order" in current_user.user_roles %}    
                <li><a class="dropdown-item" href="{{ url_for('purchase_order.pending') }}">Pending Purchase Order</a></li>
                <li><a class="dropdown-item" href="{{ url_for('purchase_order.home') }}">Purchase Order List</a></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
            <!-- End of Purchase Order Menu -->

