{% extends "base_print.html" %}

{% block title %}Printing PO No. {{ obj.purchase_order_number }}{% endblock %}

{% block styles %}
<style>
    body {
        font-family: Calibri, Arial, sans-serif;
        font-size: 14px; 
        {% if not (obj.submitted or obj.cancelled) %}
        color: red;
        {% endif %}
    }
</style>
{% endblock %}

{% block content %}
    <strong class="record_date" style="position: absolute; font-size: 14px; left: 170mm; top: 62mm;">
        {{ obj.formatted_voucher_date }}
    </strong>

    <strong class="purchase_order_number" style="position: absolute; font-size: 14px; left: 175mm; top: 30mm;">
        {{ obj.purchase_order_number }}
    </strong>

    <strong class="vendor" style="position: absolute; font-size: 18px; left: 27mm; top: 61mm;">
        {{ obj.vendor }}
    </strong>

    <strong class="purchase_request_numbers" style="position: absolute; font-size: 14px; left: 170mm; top: 65mm;">
        
    </strong>

    <strong class="terms" style="position: absolute; font-size: 14px; left: 175mm; top: 80mm;">
        {{ obj.terms }}
    </strong>

<div class="articles" style="position: absolute; font-size: 14px; left: 20mm; top: 105mm;">
    {% for side_note, rows in obj.details_grouped_by_side_note.items() %}
        {% if side_note != "No Note" %}
        <strong style="width: 65px; display: inline-block;"></strong><strong class="side_note" style="width: 80mm; display: inline-block;">{{ side_note }}</strong>
        {% else %}
        <strong style="width: 65px; display: inline-block;"></strong><strong class="side_note" style="width: 80mm; display: inline-block;">General</strong>
        {% endif %}

        {% for row in rows %}
            <div style="margin-left: 6px;">
                <strong class="purchase_request_number" style="width: 20mm; display: inline-block;">{{ row.purchase_request_number }}</strong>
                <strong class="raw_material" style="width: 100mm; display: inline-block;">{{ row.raw_material }}</strong>
                <strong class="quantity" style="width: 20mm; display: inline-block; text-align: center;">{{ row.formatted_quantity }} {{ row.measure }}</strong>
                <strong class="unit_price" style="width: 20mm; display: inline-block; text-align: center;">{{ row.formatted_unit_price }}</strong>
                <strong class="amount" style="width: 20mm; display: inline-block; text-align: right;">{{ row.formatted_amount }}&nbsp;</strong>
            </div>
        {% endfor %}
    {% endfor %}
            <div style="margin-left: 10px; margin-top: 10px;">
                <strong class="nothing_follows" style="width: 132mm; display: inline-block; text-align: center;">- NOTHING FOLLOWS -</strong>
                {% if not (obj.discount or obj.add_vat)%}
                <strong class="currency" style="width: 20mm; display: inline-block; text-align: right;">{{ obj.currency }}</strong>
                <strong class="total_amount" 
                        style="width: 28mm; 
                            display: inline-block; 
                            border-top: 1pt solid black; 
                            border-bottom: 3pt double black;
                            text-align: right;
                            margin-left: 2px;">
                     {{ obj.formatted_total_amount }}&nbsp;
                </strong>
                {% else %}
                <strong class="currency" style="width: 20mm; display: inline-block; text-align: right;"></strong>
                <strong class="total_amount" 
                        style="width: 28mm; 
                            display: inline-block; 
                            border-top: 1pt solid black; 
                            text-align: right;
                            margin-left: 2px;">
                     {{ obj.formatted_total_amount }}&nbsp;
                </strong>
                {% endif %}
            </div>
            {% if obj.discount or obj.add_vat %}
                {% if obj.discount %}
            <div style="margin-left: 10px; margin-top: 10px;">
                <strong class="discount_remark" style="width: 132mm; display: inline-block; text-align: right;">Less Discount : {{ obj.discount_note }}</strong>
                <strong class="discount" 
                        style="width: 28mm; 
                            display: inline-block; 
                            text-align: right;
                            margin-left: 2px;">
                     {{ obj.formatted_discount }}&nbsp;
                </strong>
            </div>
                {% endif %}
                {% if obj.discount and obj.add_vat %}
            <div style="margin-left: 10px; margin-top: 10px;">
                <strong class="nothing_follows" style="width: 134mm; display: inline-block; text-align: center;"></strong>
                <strong class="currency" style="width: 20mm; display: inline-block; text-align: right;">{{ obj.currency }}</strong>
                <strong class="discount" 
                        style="width: 28mm; 
                            display: inline-block; 
                            border-top: 1pt solid black; 
                            text-align: right;
                            margin-left: 2px;">
                     {{ obj.formatted_discounted_amount }}&nbsp;
                </strong>
            </div>
                {% endif %}
                {% if obj.add_vat %}
            <div style="margin-left: 10px; margin-top: 10px;">
                <strong  style="width: 154mm; display: inline-block; text-align: right;">Add : VAT</strong>
                <strong class="discount" 
                        style="width: 28mm; 
                            display: inline-block; 
                            text-align: right;
                            margin-left: 2px;">
                     {{ obj.formatted_add_vat }}&nbsp;
                </strong>
            </div>
                {% endif %}
            <div style="margin-left: 10px; margin-top: 10px;">
                <strong class="nothing_follows" style="width: 134mm; display: inline-block; text-align: center;"></strong>
                <strong class="currency" style="width: 20mm; display: inline-block; text-align: right;">{{ obj.currency }}</strong>
                <strong class="discount" 
                        style="width: 28mm; 
                            display: inline-block; 
                            border-top: 1pt solid black; 
                            border-bottom: 3pt double black;
                            text-align: right;
                            margin-left: 2px;">
                     {{ obj.formatted_net_amount }}&nbsp;
                </strong>
            </div>
            {% endif %}
            <div style="margin-left: 10px; margin-top: 10px;">
                <pre class="order_note" style="width: 155mm; display: inline-block;"><strong>{{ obj.order_note }}</strong></pre>
            </div>
</div>


    <strong class="requested_by" style="position: absolute; font-size: 14px; left: 45mm; top: 200mm;">
        
    </strong>

    <strong class="checked_by" style="position: absolute; font-size: 14px; left: 45mm; top: 252mm;">
        {{ obj.checked_by }}
    </strong>

    <strong class="prepared_by" style="position: absolute; font-size: 14px; left: 45mm; top: 238mm;">
        {{ obj.prepared_by }}
    </strong>

    <strong class="approved_by" style="position: absolute; font-size: 18px; left: 135mm; top: 250mm; width: 65mm; text-align: center;">
        {{ obj.approved_by }}
    </strong>

{% endblock %}