{% extends "base.html" %}
{% from "macros_simple_form.html" import text_box, save_button %}

{% block title %}Plastic Label Status{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit Plastic Label Status</h1>
    <form action="{{ url_for('plastic_label_status.edit', record_id=form.id) }}" method="post">
        <input type="number" name="plastic_label_status_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add Plastic Label Status</h1>
    <form action="{{ url_for('plastic_label_status.add') }}" method="post">
        {% endif %}
    
        {{ text_box(form, "Description", "plastic_label_status_name", form.plastic_label_status_name, autofocus=True) }}
        {{  save_button() }}

    </form>
</div>
{% endblock %}