<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          {% if current_user.is_active %}
            {% include "job_order/navbar.html" %}
            {% include "delivery_receipt/navbar.html" %}
            
            {% include "purchase_order/navbar.html" %}
            {% include "receiving_report/navbar.html" %}


            <!-- Options Menu -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Options
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if "Department" in current_user.user_roles %}    
                <li><a class="dropdown-item" href="{{ url_for('department.home') }}">Department</a></li>
                {% endif %}

                {% if "Raw Material" in current_user.user_roles %}    
                <li><a class="dropdown-item" href="{{ url_for('raw_material.home') }}">Raw Material</a></li>
                {% endif %}

                {% if "Employee" in current_user.user_roles %}    
                  <li><a class="dropdown-item" href="{{ url_for('employee.home') }}">Employee</a></li>
                  {% endif %}
                                   
                  {% if "Customer" in current_user.user_roles %}    
                  <li><a class="dropdown-item" href="{{ url_for('customer.home') }}">Customer as seen in Delivery Receipt</a></li>
                  {% endif %}
                  {% if "Sales Order Customer" in current_user.user_roles %}    
                  <li><a class="dropdown-item" href="{{ url_for('sales_order_customer.home') }}">Customer as seen in Job Order</a></li>
                  {% endif %}
                  {% if "Product" in current_user.user_roles %}    
                  <li><a class="dropdown-item" href="{{ url_for('product.home') }}">Products</a></li>
                  {% endif %}
                  {% if "Vendor" in current_user.user_roles %}    
                  <li><a class="dropdown-item" href="{{ url_for('vendor.home') }}">Vendor</a></li>
                  {% endif %}
                  {% if "Measure" in current_user.user_roles %}    
                  <li><a class="dropdown-item" href="{{ url_for('measure.home') }}">Measure</a></li>
                  {% endif %}
                  {% if "Shift" in current_user.user_roles %}    
                  <li><a class="dropdown-item" href="{{ url_for('shift.home') }}">Shift</a></li>
                  {% endif %}
                  {% if "Plastic Component Status" in current_user.user_roles %}    
                  <li><a class="dropdown-item" href="{{ url_for('plastic_product_component_status.home') }}">Remarks</a></li>
                  {% endif %}
                  {% if current_user.admin %}
                  <li class="nav-item">
                      <a class="dropdown-item" href="{{ url_for('user.user_list') }}">User Register</a>
                  </li>
                  <li class="nav-item">
                      <a class="dropdown-item" href="{{ url_for('user.change_password') }}">User Change Password</a>
                  </li>
                  {% endif %}
              </ul>
          </li>
            <!-- End of Options Menu -->
          {% endif %}
          <li class="nav-item">
            <span class="nav-link">Logged in as {{ current_user.user_name }}</span>
          </li>
          <li class="nav-item">
            <a class="btn btn-link nav-link custom-border" href="{{ url_for('user.logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  