{% extends "base.html" %}
{% from "macros_simple_form.html" import text_box, date_box ,text_area, save_button %}

{% block title %}Operator{% endblock %}

{% block styles %}
<style>
    div.emergency-contact {
        border: 1px solid black;
        padding: 10px;
        background-color: #f9f9e5; /* Light yellow background */
        margin: 20px auto; /* Center the div */
        font-family: Arial, sans-serif;
    }

    div.emergency-contact label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    div.emergency-contact input[type="text"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

</style>
{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit Operator</h1>
    <form action="{{ url_for('operator.edit', record_id=form.id) }}" method="post">
        <input type="number" name="record_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add Operator</h1>
    <form action="{{ url_for('operator.add') }}" method="post">
        {% endif %}
    
        {{ text_box(form, "Last Name", "last_name", form.last_name, autofocus=True) }}
        {{ text_box(form, "First Name", "first_name", form.first_name, autofocus=False) }}
        {{ text_box(form, "Middle Name", "middle_name", form.middle_name, autofocus=False) }}
        {{  save_button() }}

    </form>
</div>
{% endblock %}