{% extends "base.html" %}
{% from "macros_simple_form.html" import text_box, save_button %}

{% block title %}Plastic Raw Material{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit Plastic Raw Material</h1>
    <form action="{{ url_for('plastic_raw_material.edit', record_id=form.id) }}" method="post">
        <input type="number" name="plastic_raw_material_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add Plastic Raw Material</h1>
    <form action="{{ url_for('plastic_raw_material.add') }}" method="post">
        {% endif %}
    
        {{ text_box(form, "Plastic Raw Material Code", "plastic_raw_material_code", form.plastic_raw_material_code, autofocus=True) }}
        {{ text_box(form, "Plastic Raw Material Description", "plastic_raw_material_name", form.plastic_raw_material_name, autofocus=False) }}
        {{  save_button() }}

    </form>
</div>
{% endblock %}