{% extends "base.html" %}
{% from "macros_button.html" import edit_button, delete_button, approve_button, unlock_button, activate_button, deactivate_button %}

{% block title %}Plastic Raw Material{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Plastic Raw Material</h1>
    <a href="{{ url_for('plastic_raw_material.add') }}" class="btn btn-success mb-3">Add Plastic Raw Material</a>

    <form method="post" action="{{ url_for('plastic_raw_material.home') }}" class="mb-3">
        <div class="form row">
            <div class="col-md-4">
                <label for="date_from">Date From:</label>
                <input type="date" class="form-control" id="date_from" name="date_from" value="{{ date_from }}">
            </div>
            <div class="col-md-4">
                <label for="date_to">Date To:</label>
                <input type="date" class="form-control" id="date_to" name="date_to" value="{{ date_to }}">
            </div>
            <div class="col-md-4 row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary mt-4">Apply Filter</button>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-secondary mt-4" href="{{ url_for('plastic_raw_material.download', date_from=date_from, date_to=date_to) }}">Download</a>
                </div>               
            </div>
        </div>
    </form>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Code</th>
                            <th>Material Name</th>
                            <th>Beginning</th>
                            <th>Received</th>
                            <th>Issued</th>
                            <th>Returned</th>
                            <th>Defective</th>
                            <th>Adjustment</th>
                            <th>Ending</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                        <tr>
                            <td>{{ row.plastic_raw_material_code }}</td>
                            <td>{{ row.plastic_raw_material_name }}</td>
                            <td style="text-align: center;">{{ row.inventory.formatted_beginning }}</td>
                            <td style="text-align: center;">{{ row.inventory.formatted_received }}</td>
                            <td style="text-align: center;">{{ row.inventory.formatted_issued }}</td>
                            <td style="text-align: center;">{{ row.inventory.formatted_returned }}</td>
                            <td style="text-align: center;">{{ row.inventory.formatted_defective }}</td>
                            <td style="text-align: center;">{{ row.inventory.formatted_adjustment }}</td>
                            <td style="text-align: center;">{{ row.inventory.formatted_ending }}</td>
                            <td>
                                {% if not row.approved %}
                                {{ edit_button(url_for('plastic_raw_material.edit', record_id=row.id)) }}
                                {{ delete_button(url_for('plastic_raw_material.delete', record_id=row.id)) }}
                                    {% if current_user.admin %}
                                {{ approve_button(url_for('plastic_raw_material.approve', record_id=row.id)) }}
                                    {% endif %}
                                {% else %}
                                <span>Locked by admin.</span>
                                    {% if current_user.admin %}
                                {{ unlock_button(url_for('plastic_raw_material.unlock', record_id=row.id)) }}
                                        {% if row.active %}
                                {{ activate_button(url_for('plastic_raw_material.deactivate', record_id=row.id)) }}
                                        {% else %}
                                {{ deactivate_button(url_for('plastic_raw_material.activate', record_id=row.id)) }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="10">No record found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}