{% extends "base_print.html" %}

{% block title %}Printing LI No. {{ record.plastic_label_issuance_number }}{% endblock %}

{% block styles %}
<style>
    body {
        font-size: 14px;
        {% if not (record.submitted or record.cancelled) %}
        color: red;
        {% endif %}
    }

    #cancelled {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        color: red;
        font-size: 48px;
        opacity: 0.5;
    }

    /* Select all tr elements and set their height */ 
    table tr 
    { 
        height: 33px; /* Adjust the value as needed */ 
    } 
    
    table, th, tr, td {
        border: 1pt solid black;
    }

    table td {
        vertical-align: middle;
    }

    @media print {
        hr {
            border: 1px solid black; /* Adjust thickness and color as needed */
        }
    }

</style>
{% endblock %}

{% block content %}
<div>
{% if record.cancelled %}
<p id="cancelled">C A N C E L L E D</p>
{% endif %}

<div class="row">
    <div class="col-6">
        <h5>{{ current_app.config["COMPANY_NAME"] }}</h5>
    </div>
    <div class="col-6" style="text-align: right;">
        <h5>LABEL ISSUANCE</h5>
    </div>
</div>


<div class="row">
    <div class="row col">
        <label class="col-4">Date</label>
        <span class="col-8">{{ record.formatted_record_date }}</span>
    </div>
    <div class="row col">
        <label class="col-2"></label>
        <label class="col-2"></label>
        <span class="col-8" style="text-align: right; color: red;"><strong>{{ record.plastic_label_issuance_number }}</strong></span>
    </div>
</div>
<div class="row">
    <div class="row col">
        <label class="col-4">Notes</label>
        <span class="col-8">{{ record.notes }}</span>
    </div>
    <div class="row col">

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Description</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(10) %}
            {% if i < record.plastic_label_issuance_details|length %}
                {% set row = record.plastic_label_issuance_details[i] %}
        <tr>
            <td style="text-align: center; padding-top: 0px; padding-bottom: 0px;"><span>{{ row.formatted_quantity }}</span></td>
            <td style="padding-top: 0px; padding-bottom: 0px;"><span>{{ row.plastic_label.label_name }}</span></td>
            <td style="padding-top: 0px; padding-bottom: 0px;"><span>{{ row.side_note }}</span></td>
        </tr>
            {% else %}
        <tr>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
        </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>                

<label>Prepared by:</label>
<span>{{ record.preparer }}</span>
<hr>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var originalContent = document.body.innerHTML;
        var container = document.createElement('div');
        
        // Create four copies
        for (var i = 0; i < 2; i++) {
            container.innerHTML += originalContent;
        }
        
        // Replace original body content with four copies
        document.body.innerHTML = container.innerHTML;
    });
</script>
{% endblock %}
