{% extends "base.html" %}

{% block title %}Department{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit Department</h1>
    <form action="{{ url_for('department.edit', department_id=form.id) }}" method="post">
        <input type="number" name="department_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add Department</h1>
    <form action="{{ url_for('department.add') }}" method="post">
        {% endif %}
    
        <div class="row mb-3">
            <label for="department_name" class="col-sm-2 col-form-label">Department Name</label>
            <div class="col-sm-10">
                <input type="text" name="department_name" value="{{ form.department_name }}" class="form-control" autofocus>
                {% if form.errors.get('department_name') %}
                <p style="color: red;">{{ form.errors.get('department_name') }}</p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </div>

    </form>
</div>
{% endblock %}