{% extends "base.html" %}

{% block title %}Raw Material{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit Raw Material</h1>
    <form action="{{ url_for('raw_material.edit', raw_material_id=form.id) }}" method="post">
        <input type="number" name="raw_material_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add Raw Material</h1>
    <form action="{{ url_for('raw_material.add') }}" method="post">
        {% endif %}
    
        <div class="row mb-3">
            <label for="raw_material_name" class="col-sm-2 col-form-label">Raw Material Name</label>
            <div class="col-sm-10">
                <input type="text" name="raw_material_name" value="{{ form.raw_material_name }}" class="form-control upper-case" autofocus>
                {% if form.errors.get('raw_material_name') %}
                <p style="color: red;">{{ form.errors.get('raw_material_name') }}</p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </div>

    </form>
</div>
{% endblock %}