{% extends "base.html" %}

{% block title %}Job Order{% endblock %}

{% block styles %}
<style>


    .table th, .table td, .table input, .table select {
        font-size: .85em; 
    }

    /* Add your style adjustments here */
    .table th, .table td {
        white-space: nowrap; /* Prevent line breaks in table cells */
    }

    th:nth-child(1),
    td:nth-child(1) {
        width: 10%; /* Quantity */
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 10%; /* Measure */
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 25%; /* Description */
    }

    th:nth-child(4),
    td:nth-child(4) {
        width: 10%; /* Date Needed */
    }

    th:nth-child(5),
    td:nth-child(5) {
        width: 20%; /* Side Note */
    }


    input[type=number] {
        text-align: right; 
    }

/* Hide the spinner controls */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

</style>
{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
        {% if form.submitted or form.cancelled %}
        <h1 class="mb-4"><span style="color:red;">Locked</span> Job Order</h1>
        {% else %}   
        <h1 class="mb-4">Edit Job Order</h1>
        {% endif %}
        <form action="{{ url_for('sales_order.edit', sales_order_id=form.id) }}" method="post">
            <input type="number" name="sales_order_id" value="{{ form.id }}" hidden>
    {% else %}
        <h1 class="mb-4">New Job Order</h1>
        <form action="{{ url_for('sales_order.add') }}" method="post">
    {% endif %}
    <hr>
    <div class="row mb-2">
        <div class="col-6">
            <div class="row">
                <div class="col-8">
                    {% if form.errors.get('entry') %}
                    <p class="text-danger">{{ form.errors.get('entry') }}</p>
                    {% endif %}    
                    {% if form.cancelled %}
                    <h1 style="color:red;">CANCELLED</h1>
                    {% endif %}            
                </div>
                <div class="col-4">
                    {% if form.id %}
                        {% if not(form.submitted or form.cancelled) %}
                    <a href="{{ url_for('sales_order.print', sales_order_id=form.id) }}" 
                        class="btn btn-secondary form-control" 
                        target="_blank">Print Preview</a>
                        {% endif %}
                    {% endif %}                    
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    {% if not form.submitted  %}
                        {% if not form.cancelled %}
                    <input type="submit" value="Save Draft" name="cmd_button" class="btn btn-success form-control">
                        {% endif %}
                    {% endif %}
                    {% if form.submitted or form.cancelled %}
                        {% if current_user.admin %}
                        <a href="{{ url_for('sales_order.unlock', sales_order_id=sales_order.id) }}"
                                    class="btn btn-danger form-control"
                                    onclick="return confirmMessage('Type YES to unlock this record.')">Unlock</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-4">
                    {% if form.id %}
                        {% if form.submitted or form.cancelled %}
                    <a href="{{ url_for('sales_order.print', sales_order_id=form.id) }}" 
                        class="btn btn-secondary form-control" 
                        target="_blank">Print</a>
                        {% else %}
                    <input type="submit" value="Submit for Printing" name="cmd_button" 
                        class="btn btn-primary form-control" 
                        onclick="return confirmMessage('Type YES to submit this record for printing.');">
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-4">
                    {% if not form.cancelled and form.id %}
                    <a href="{{ url_for('sales_order.cancel', sales_order_id=form.id) }}" 
                        class="btn btn-danger form-control" 
                        onclick="return confirmMessage('Type YES to cancel this record.');">Cancel Order</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <hr>
    
    <div class="row mb-2">
        <div class="col-6">
            <label for="record_date" class="form-label">Date</label>
            <input type="date" name="record_date" value="{{ form.record_date }}" class="form-control" {% if form.locked_ %}readonly{% endif %}>
            {% if form.errors.get('record_date') %}
            <p class="text-danger">{{ form.errors.get('record_date') }}</p>
            {% endif %}
        </div>
        <div class="col-6">
            <label for="sales_order_number" class="form-label">Job Order No.</label>
            <input type="text" name="sales_order_number" value="{{ form.sales_order_number }}" class="form-control" {% if form.locked_ %}readonly{% endif %}>
            {% if form.errors.get('sales_order_number') %}
            <p class="text-danger">{{ form.errors.get('sales_order_number') }}</p>
            {% endif %}    
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-6">
            <label for="sales_order_customer_id" class="form-label">Customer</label>
            <select name="sales_order_customer_id" class="form-select" autofocus {% if form.locked_ %}disabled{% endif %}>
                <option value="0"></option>
                {% for option in sales_order_customer_dropdown %}
                    {% if option['id'] == form.sales_order_customer_id %}
                <option value="{{ option['id'] }}" selected>{{ option['customer_name'] }}</option>
                    {% else %}
                <option value="{{ option['id'] }}">{{ option['customer_name'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            {% if form.errors.get('sales_order_customer_id') %}
            <p class="text-danger">{{ form.errors.get('sales_order_customer_id') }}</p>
            {% endif %}    
        </div>

        <div class="col-6">
            <label for="notes" class="form-label">Notes</label>
            <input type="text" name="notes" value="{{ form.notes }}" class="form-control" {% if form.locked_ %}readonly{% endif %}>
            {% if form.errors.get('notes') %}
            <p class="text-danger">{{ form.errors.get('notes') }}</p>
            {% endif %}
        </div>
    </div>
        <table class="table table-striped table-light">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Measure</th>
                    <th>Description</th>
                    <th>PO Number</th>
                    <th>Delivery Date</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>                
                {% for i, form_detail in form.details %}
                <tr>
                    <td>
                        {% if form_detail.id %}
                        <input type="number" name="sales_order_detail_id-{{ i }}" value="{{ form_detail.id }}" hidden>
                        {% endif %}
                        <input type="number" name="quantity-{{ i }}" step="any" value="{{ form_detail.quantity }}" class="form-control currency" {% if form.locked_ %}readonly{% endif %}>
                        {% if form_detail.errors.get('quantity') %}
                        <p class="text-danger">{{ form_detail.errors.get('quantity') }}</p>
                        {% endif %}
                    </td>
                    <td>
                        <select name="measure_id-{{ i }}" class="form-select" {% if form.locked_ %}disabled{% endif %}>
                            <option value="0"></option>
                            {% for measure in measure_dropdown %}
                                {% if measure['id'] == form_detail.measure_id %}
                                <option value="{{ measure['id'] }}" selected>{{ measure['measure_name'] }}</option>
                                {% else %}
                                <option value="{{ measure['id'] }}">{{ measure['measure_name'] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% if form_detail.errors.get('measure_id') %}
                        <p class="text-danger">{{ form_detail.errors.get('measure_id') }}</p>
                        {% endif %}
                    </td>
                    <td>
                        <select name="product_id-{{ i }}" class="form-select" {% if form.locked_ %}disabled{% endif %}>
                            <option value="0"></option>
                            {% for product in product_dropdown %}
                                {% if product['id'] == form_detail.product_id %}
                                <option value="{{ product['id'] }}" selected>{{ product['product_name'] }}</option>
                                {% else %}
                                <option value="{{ product['id'] }}">{{ product['product_name'] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% if form_detail.errors.get('product_id') %}
                        <p class="text-danger">{{ form_detail.errors.get('product_id') }}</p>
                        {% endif %}
                    </td>
                    <td>
                        <input type="text" name="customer_po_number-{{ i }}" value="{{ form_detail.customer_po_number }}" class="form-control" {% if form.locked_ %}readonly{% endif %}>
                        {% if form_detail.errors.get('customer_po_number') %}
                        <p class="text-danger">{{ form_detail.errors.get('customer_po_number') }}</p>
                        {% endif %}
                    </td>
                    <td>
                        <input type="date" name="delivery_date-{{ i }}" value="{{ form_detail.delivery_date }}" class="form-control" {% if form.locked_ %}readonly{% endif %}>
                        {% if form_detail.errors.get('delivery_date') %}
                        <p class="text-danger">{{ form_detail.errors.get('delivery_date') }}</p>
                        {% endif %}
                    </td>
                    <td>
                        <select name="customer_id-{{ i }}" class="form-select" {% if form.locked_ %}disabled{% endif %}>
                            <option value="0"></option>
                            {% for customer in customer_dropdown %}
                                {% if customer['id'] == form_detail.customer_id %}
                                <option value="{{ customer['id'] }}" selected>{{ customer['customer_name'] }}</option>
                                {% else %}
                                <option value="{{ customer['id'] }}">{{ customer['customer_name'] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% if form_detail.errors.get('customer_id') %}
                        <p class="text-danger">{{ form_detail.errors.get('customer_id') }}</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>


    {% for i, form_detail in form.details %}
    <script>
        $(function () {
            $.ajax({
                url: '{{ url_for("product._autocomplete") }}'
            }).done(function (data) {
                $('#product_id-{{ i }}').autocomplete({
                    source: data,
                    minLength: 0
                });
            });
        });
    </script>
    {% endfor %}

    <script>
        // Get the input element
        var inputElement = document.getElementByClassName('currency');

        // When the input loses focus
        inputElement.addEventListener('blur', function(event) {
            var value = parseFloat(event.target.value.replace(/,/g, '')); // Remove commas, if any
            event.target.value = value.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2});
        });

        // When the input gains focus
        inputElement.addEventListener('focus', function(event) {
            var value = parseFloat(event.target.value.replace(/,/g, '')); // Remove commas, if any
            event.target.value = value.toFixed(2);
        });

    </script>

</div>
{% endblock %}
