{% extends "base_print.html" %}

{% block title %}Printing SO No. {{ sales_order.sales_order_number }}{% endblock %}

{% block styles %}
<style>
    body {
        font-size: 12px;
        {% if not (sales_order.submitted or sales_order.cancelled) %}
        color: red;
        {% endif %}
    }

    #cancelled {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        color: red;
        font-size: 48px;
        opacity: 0.5;
    }

    table, th, tr, td {
        border: 1pt solid black
    }

    @media print {
        hr {
            border: 1px solid black; /* Adjust thickness and color as needed */
        }
    }

</style>
{% endblock %}

{% block content %}
<div>
{% if sales_order.cancelled %}
<p id="cancelled">C A N C E L L E D</p>
{% endif %}

<div class="row">
    <div class="col-6">
        <h5>{{ current_app.config["COMPANY_NAME"] }}</h5>
    </div>
    <div class="col-6" style="text-align: right;">
        <h5>JOB ORDER</h5>
    </div>
</div>


<div class="row">
    <div class="row col">
        <label class="col-2">Date</label>
        <span class="col-10">{{ sales_order.formatted_record_date }}</span>
    </div>
    <div class="row col">
        <label class="col-2"></label>
        <label class="col-2"></label>
        <span class="col-8" style="text-align: right; color: red;"><strong>{{ sales_order.sales_order_number }}</strong></span>
    </div>
</div>
<div class="row">
    <div class="row col">
        <label class="col-2">Customer</label>
        <span class="col-10">{{ sales_order.sales_order_customer.customer_name }}</span>
    </div>
    <div class="row col">
        <label class="col-2"></label>
        <label class="col-2">Notes</label>
        <span class="col-8">{{ sales_order.notes }}</span>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Description</th>
            <th>PO Number</th>
            <th>Delivery Date</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(10) %}
            {% if i < sales_order.sales_order_details|length %}
                {% set row = sales_order.sales_order_details[i] %}
        <tr>
            <td style="text-align: center; padding-top: 0px; padding-bottom: 0px;"><span>{{ row.formatted_quantity }}</span></td>
            <td style="padding-top: 0px; padding-bottom: 0px;"><span>{{ row.product.inhouse_name }}</span></td>
            <td style="padding-top: 0px; padding-bottom: 0px;"><span>{{ row.customer_po_number }}</span></td>
            <td style="padding-top: 0px; padding-bottom: 0px;"><span>{{ row.formatted_delivery_date }}</span></td>
            <td style="padding-top: 0px; padding-bottom: 0px;"><span>{{ row.customer.customer_name }}</span></td>
        </tr>
            {% else %}
        <tr>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
        </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>                

<label>Prepared by:</label>
<span>{{ sales_order.preparer }}</span>
<hr>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var originalContent = document.body.innerHTML;
        var container = document.createElement('div');
        
        // Create four copies
        for (var i = 0; i < 3; i++) {
            container.innerHTML += originalContent;
        }
        
        // Replace original body content with four copies
        document.body.innerHTML = container.innerHTML;
    });
</script>
{% endblock %}
