{% extends "base.html" %}

{% block title %}Delivery Schedule{% endblock %}

{% block styles %}
<style>
    table {
        font-size: 12px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-danger">Delivery Schedule</h1>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Product Description</th>
                            <th>Date Issued</th>
                            <th>JO#</th>
                            <th>Customer</th>
                            <th>PO No.</th>
                            <th>PO QTY</th>
                            <th>Stocks</th>
                            <th>Delivered</th>
                            <th>Balance to Prod</th>
                            <th>Delivery Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.product.inhouse_name }}</td>
                            <td>{{ order.sales_order.formatted_record_date }}</td>
                            <td>{{ order.sales_order.sales_order_number }}</td>
                            <td>{{ order.sales_order.sales_order_customer.customer_name }}</td>
                            <td>{{ order.customer_po_number }}</td>
                            <td>{{ order.formatted_quantity }}</td>
                            <td>nil</td>
                            <td>deliver</td>
                            <td>balance</td>
                            <td>{{ order.formatted_delivery_date }}</td>
                            <td>status</td>
                        </tr>
                        {% endfor %}
                        {% if orders|length == 0 %}
                        <tr>
                            <td colspan="7" class="text-center">No records found.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}