{% extends "base.html" %}

{% block title %}Purchase Order Extra{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-danger">Purchase Order Extra List</h1>
    <a href="{{ url_for('purchase_order_extra.add') }}" class="btn btn-success mb-3">Add Purchase Order Extra</a>

    <form method="post" action="{{ url_for('purchase_order_extra.home') }}" class="mb-3">
        <div class="form row">
            <div class="col-md-4">
                <label for="date_from">Date From:</label>
                <input type="date" class="form-control" id="date_from" name="date_from" value="{{ date_from }}">
            </div>
            <div class="col-md-4">
                <label for="date_to">Date To:</label>
                <input type="date" class="form-control" id="date_to" name="date_to" value="{{ date_to }}">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary mt-4">Apply Filter</button>
            </div>
        </div>
    </form>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Date</th>
                            <th>PO No.</th>
                            <th>Vendor</th>
                            <th>Note</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase_order in purchase_orders %}
                        <tr>
                            <td>{{ purchase_order.formatted_record_date }}</td>
                            <td>{{ purchase_order.purchase_order_number }}</td>
                            <td>{{ purchase_order.vendor.vendor_name }}</td>
                            <td>{{ purchase_order.order_note }}</td>
                            <td>
                                {% if purchase_order.cancelled %}
                                <p style="color: red;">Cancelled {{ purchase_order.formatted_cancelled }}</p>
                                {% endif %}
                                {% if purchase_order.submitted %}
                                <p>For Ordering {{ purchase_order.formatted_submitted }}</p>
                                {% endif %}
                                {% if not (purchase_order.submitted or purchase_order.cancelled) %}
                                <p style="color: green;">DRAFT</p>
                                {% endif %}    
                            </td>
                            <td>
                                {% if purchase_order.submitted or purchase_order.cancelled %}
                                    <a href="{{ url_for('purchase_order_extra.view', record_id=purchase_order.id) }}"
                                    class="btn btn-warning btn-sm">View</a>
                                {% else %}
                                    <a href="{{ url_for('purchase_order_extra.edit', record_id=purchase_order.id) }}"
                                    class="btn btn-warning btn-sm">Edit</a>
                                    {% if current_user.admin %}
                                    <a href="{{ url_for('purchase_order_extra.delete', record_id=purchase_order.id) }}"
                                    class="btn btn-danger btn-sm"
                                    onclick="return confirmMessage('Type YES to delete this record.')">Delete</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% if purchase_orders|length == 0 %}
                        <tr>
                            <td colspan="5" class="text-center">No records found.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}