{% extends "base.html" %}
{% from 'macros_form_header.html' import currency_box%}

{% block title %}Product{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit Product</h1>
    <form action="{{ url_for('product.edit', product_id=form.id) }}" method="post">
        <input type="number" name="product_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add Product</h1>
    <form action="{{ url_for('product.add') }}" method="post">
        {% endif %}
    
        <div class="row mb-3">
            <label for="inhouse_name" class="col-sm-2 col-form-label">Inhouse Name</label>
            <div class="col-sm-10">
                <input type="text" name="inhouse_name" value="{{ form.inhouse_name }}" class="form-control" autofocus>
                {% if form.errors.get('inhouse_name') %}
                <p style="color: red;">{{ form.errors.get('inhouse_name') }}</p>
                {% endif %}
            </div>
        </div>
    
        <div class="row mb-3">
            <label for="product_name" class="col-sm-2 col-form-label">Product Name</label>
            <div class="col-sm-10">
                <input type="text" name="product_name" value="{{ form.product_name }}" class="form-control">
                {% if form.errors.get('product_name') %}
                <p style="color: red;">{{ form.errors.get('product_name') }}</p>
                {% endif %}
            </div>
        </div>
    
        <div class="row mb-3">
            <label for="product_code" class="col-sm-2 col-form-label">Product Code</label>
            <div class="col-sm-10">
                <input type="text" name="product_code" value="{{ form.product_code }}" class="form-control">
                {% if form.errors.get('product_code') %}
                <p style="color: red;">{{ form.errors.get('product_code') }}</p>
                {% endif %}
            </div>
        </div>
    
        <div class="row mb-3">
            <label for="customer_code" class="col-sm-2 col-form-label">Customer Code</label>
            <div class="col-sm-10">
                <input type="text" name="customer_code" value="{{ form.customer_code }}" class="form-control">
                {% if form.errors.get('custome_code') %}
                <p style="color: red;">{{ form.errors.get('customer_code') }}</p>
                {% endif %}
            </div>
        </div>

        {{ currency_box(form, "Price", "default_price", form.default_price) }}

        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </div>

    </form>
</div>
{% endblock %}