{% extends "base.html" %}
{% from 'macros_form_header.html' import currency_box%}
{% from "macros_simple_form.html" import text_box, text_area, save_button %}

{% block title %}Product{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit Product</h1>
    <form action="{{ url_for('product.edit', product_id=form.id) }}" method="post">
        <input type="number" name="product_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add Product</h1>
    <form action="{{ url_for('product.add') }}" method="post">
        {% endif %}
    
        {{ text_box(form, "Product Name", "product_name", form.product_name, autofocus=True) }}
        {{ text_box(form, "Product Code", "product_code", form.product_code) }}
        {{ text_box(form, "Customer Code", "customer_code", form.customer_code) }}
        {{ currency_box(form, "Price", "default_price", form.default_price) }}
        {{  save_button() }}

    </form>
</div>
{% endblock %}